@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400;700&family=Noto+Sans+KR&display=swap");

body {
	margin: 0;
	font-family: "Noto Sans";
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 3px #bbb;
}

.logo {
	position: absolute;
	left: 1rem;
	border: 7px solid #f7a196;
	color: #c54e3e;
	font-size: 2rem;
	font-weight: 700;
}

h1 {
	font-weight: 200;
}

nav {
	padding: 1rem;
	display: flex;
	justify-content: space-evenly;
}

.menu {
	height: 1.5rem;
	width: 20%;
	text-align: center;
}

.menu a {
	text-decoration: none;
	color: black;
}

.dropdown {
	width: 20%;
	position: absolute;
	justify-content: center;
	display: none;
}

.menu:hover .dropdown {
	display: flex;
}

.dropdown ul {
	list-style: none;
	padding: 0;
	padding-top: 8px;
}

.dropdown li {
	margin-bottom: 4px;
}

.main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: justify;
}

.main img {
	width: 100%;
	max-width: 960px;
}

.main div {
	padding: 3rem;
}

.background {
	display: block;
	background-color: white;
	position: absolute;
	transition: all 0.2s;
	opacity: 0;
}
